.item{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.item:not(:last-child){
  margin-right:14px;
}
ul,li{
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}
