.item{
  display:flex;
  align-items: center;

  margin-bottom: 10px;
}
.status{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: pink;

}
.isOn {
  background-color: #357C3C;
}
.isOut {
  background-color: #890F0D;
}
.avatar{
  width: 40px;
  margin-left: 10px;
}
.name{
  margin-left: 15px;
}
